
.app-toolbar {
  background-color: #2b0a2c !important;
  font-family: "Montserrat", sans-serif !important;
  justify-content: space-between

}

.logout-button {
  margin-left: 10px;
  font-family: "Montserrat", sans-serif !important;

}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 50px !important;
}

.chats-section {
  display: flex;
  flex: 1 1 auto;
}
// .sidebar {
//   // float: left;
//   background-color: #4a154b !important;
//   color: white;
//   width: 15%;
//   height: 100vh;
//   // background-color: lightgray;
//   font-family: "Montserrat", sans-serif !important;

//   padding: 10px;
// }
.chats-sidebar {
  background-color: #4a154b;
  color: white;
  width: 200px;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  .active {
    background-color: rgba(128, 128, 128, 0.438);
  }
  .mat-list-item:hover {
    background-color: rgba(128, 128, 128, 0.438);
    cursor: pointer;
  }
}

.click-search-button{
  font-family: "Montserrat", sans-serif !important;
width: 100%;
}



.chat-and-search-panel {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px); /* Adjust as needed for your header height */
  overflow: hidden;
  width:80% !important;
  // justify-content: center;
}

// font-family: 'Victor Mono', monospace;

// .chat-panel {
//   // float: right;
//   width: 80%;
//   // height: 100vh;
//   padding: 10px;
// }

//   mat-toolbar {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     padding: 0 20px;
//   }


// .chat-container {
//   height: 300px; /* Adjust the height as needed */
//   overflow-y: scroll; /* Enable vertical scrolling */
//   /* Additional styling for the container */
// }
.chat-users-list
{
  margin-top: 0px;
  padding-top: 0px;
.mat-list-item{
  font-size: 15px;
  text-align: start;
  color: white;
  font-family: 'Victor Mono', monospace;
    height: 39px!important;
    border-bottom: 1px solid ;

}
.mat-list-item-content{
  padding: 0px;
}


}

.chat-messages-list {
  .mat-list-item{
    color: white;
    font-family: 'Victor Mono', monospace;
    height: 69px!important;

  
  }

}

// .sent-message {
//   align-self: flex-end;
//   background-color: #e6e6e6;
//   padding: 8px;
//   border-radius: 4px;
//   /* Additional styling for sent messages */
// }

// .received-message {
//   background-color: #f0f0f0;
//   padding: 8px;
//   border-radius: 4px;
//   /* Additional styling for received messages */
// }

// .message-footer {
//   color: #999;
//   /* Additional styling for the message footer */
// }
// .chat-container {
//   // max-height: 300px;
//   overflow-y: auto;
// }

// .sent-message {
//   text-align: right;
//   background-color: #007bff;
//   color: #fff;
//   padding: 8px;
//   margin: 8px 0;
//   border-radius: 8px;
// }

// .received-message {
//   text-align: left;
//   background-color: #f2f2f2;
//   padding: 8px;
//   margin: 8px 0;
//   border-radius: 8px;
// }

// .message-footer {
//   font-size: 10px;
//   text-align: right;
//   color: #999;
// }

// .message-input {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   margin-top: 16px;
// }
// .message-history-list{
  
  

// }


// .message-toolbar {
//   background-color: #2b0a2c;
//   color: white;
//   font-family: "Montserrat", sans-serif;
//   height: 50px;
//   display: flex;
//   align-items: center;
//   padding: 0 20px;
// }

.search-bar-container {
  position: relative;
  margin: 10px;
  justify-content: center;
}

.search-bar {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
}
.user-search{
  width: 100%;
  border: none;
  background: transparent;
  padding: 10px;
}

.search-results {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 4px 4px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1;
  .mat-list-item{
    cursor: pointer;
  }
  .mat-list-item:hover{
    background: rgba(128, 128, 128, 0.438)

  }
}


.chat-container {
  flex: 1;
  overflow-y: auto;
  padding: 16px;

}

.message-row {
  margin-bottom: 16px;
}

.sent-message {
  text-align: right;
  // align-self: flex-end;
  // background-color: #007bff;
  // color: bl;
  padding: 8px;
  margin: 8px 0;
  border-radius: 8px;
  width:100%;
  // margin-bottom: 20px !important;

}
.received-message-display{
  // background-color: #4a154b;
  color: #4a154b;
  border: 1px solid #4a154b;
  border-radius: 10px;
  padding: 10px;
}
.sent-message-display{
  background-color: #4a154b;
  color: white;
  border: 1px solid #4a154b;
  border-radius: 10px;
  padding: 10px;
}


// .received-message{
//   // margin-bottom: 20px !important;

// }
/* Style the message footer */
.message-footer {
  font-size: 10px;
  text-align: right;
  color: #999;
  margin-top: 15px;
}

/* Style the message input container */
.message-input {
  display: flex;
  align-items: center;
  margin: 16px 9px;
margin-bottom: 0px !important;
  border-radius: 10px;
  // margin-right: 8px;
  border: 1px solid #4a154b;

}

/* Style the input field */
.message-input input {
  flex: 1;
  padding: 11px 8px;
  border: none;
  // border-radius: 4px;
  margin-right: 8px;
  // border: 1px solid #4a154b;
}

/* Style the send button */
.message-input button {
  padding: 8px 37px;
  border: none;
  border-radius: 4px;
  background-color: #4a154b;
  color: #fff;
  cursor: pointer;
}
input:focus{
    outline: none !important;
    // border:1px solid red;
    // box-shadow: 0 0 10px #719ECE;

}
@media only screen and (max-width:800px) {
  
  .chat-messages-list {
    .mat-list-item{
      color: white;
      font-family: 'Victor Mono', monospace;
      height: 100px!important;
  
    
    }
  
  }
  
}
