.signup-form {
    margin-top: 50px;
    height: 100%;
    width: 100%;
    align-items: center;
}
.signup-title {
    font-family: "Libre Baskerville", serif;
    font-size: 35px;
    font-weight: 500;
    /* background: rgba(235, 200, 128, 0.75) !important ; */
    color: #50423e;
    position: absolute !important;
    left: 0;
    right: 0;
    cursor: pointer;
  
    display: flex !important;
    justify-content: center;
  }

form {
    width: 100%;
    align-items: center;
}

.mat-form-field {
    width: 100%;
    display: block;
}

.signup-content {
    width: 500px;
    height: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.signup-toolbar {
    justify-content: center;
    background-color: #4a154b;
    color: white;
    font-family: "Montserrat", sans-serif !important;
}

.mat-raised-button {
    width: 100%;
    height: 60px;
    margin-top: 15px;
    background-color: #4a154b;
    color: white;
    font-family: "Montserrat", sans-serif !important;
}

.mat-form-field-label {
    color: white !important;
    font-family: "Montserrat", sans-serif !important;
}

.mat-form-field.mat-focused .mat-form-field-label {
    color: white !important;
}

.mat-form-field-underline {
    background-color: #4a154b !important;
}

.go-to-signin-section {
    margin-top: 30px;
    font-family: "Montserrat", sans-serif;
}

.go-to-signin-text {
    cursor: pointer;
    text-decoration: none;
    color: #4a154b;
}